.day-tile {
  margin-top: 1rem;
  border-bottom: 1px solid var(--grey-border);

  text-align: left;

  h2 {
    text-align: center;
  }
  
  h3, h4, p {
    display: inline;
  }

  .averages, .categories-container, .tiredness-chart, button {
    margin-top: 0.5rem;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  button {
    outline: none;
    border: none;
    border-radius: 8px;

    width: 6rem;
    
    background: var(--primary-fg);

    padding: 4px;
    margin-left: 1rem;

    position: relative;
    bottom: 4px;

    &:hover {
      cursor: pointer;
    }
  }
}

.categories {
  margin-top: 0;
}