.loading {
  color: #22f;
}

.error {
  color: #f03a3a;
}

.home {
  list-style: inside;

  .aim {
    text-align: center;
  }

  h2 {
    margin-top: 1rem;
  }
}

.today {
  h2 {
    text-align: center;
  }
  
  .init-container {
    margin: auto;
    width: max-content;

    padding: 1rem 0 2rem 0;
    button {
      border: none;
      border-radius: 4px;
      outline: none;
      background: var(--primary-fg);
      padding: 1rem;
    
      &:hover {
        cursor: pointer;
      }
    }
  }
}

main {
  width: 40rem;
  max-width: 80%;
  margin: auto;

  h1 {
    text-align: center;
    border-bottom: 2px solid #2926e2 !important;
    width: max-content;
    padding: 0 3rem;
    margin: auto;
  }
}

.day-details {
  margin-top: calc(var(--nav-size) + 1rem);
  width: 100vw !important;

  .key {
    display: flex;
    flex-direction: row;
    
    margin-bottom: 2rem;

    .key-box {
      width: 16px;
      height: 16px;
      margin-left: 1rem;
      margin-right: 4px;

      &.first {
        margin-left: 0;
      }
    }
  }

  .day {

    h3, span {
      display: inline;
    }

    table {
      word-wrap: break-word;
      border-collapse: collapse;
      table-layout: fixed ;
      width: 100% ;
      font-size: 0.9rem;

      td {
        text-align: center;
      }

      td, th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      tr:nth-child(even){
        background-color: #f2f2f2;
      }

      th {
        text-align: center;
        background-color: #2aaf2f;
        color: white;
      }
    }
  }
}

.input-data {
  background-color: #e45f21 !important;
}

.retrieved-data {
  background-color: #2aaf2f !important;
}

.calculated {
  background-color: #0b6cdb !important;
}