.loading {
  color: #22f;
}

.home {
  list-style: inside;

  

  h2 {
    margin-top: 1rem;
  }
}

.today {
  h1 {
    border-bottom: 1px solid var(--grey-border);
  }
  
  h2 {
    text-align: center;
  }
}

main {
  width: 40rem;
  max-width: 80%;
  margin: auto;

  h1 {
    text-align: center;
    border-bottom: 1px solid var(--grey-border);
  }
}