h2.header {
  border-bottom: 1px solid var(--grey-border) ;
}
form {
  text-align: center;

  .form-group {
    &.spacing-t {
      margin-top: 1rem;
    }

    &.spacing-b {
      margin-bottom: 1rem;
    }
  }

}